[build]
builder = "nixpacks"
buildCommand = "pip install -r requirements.txt"

[deploy]
startCommand = "cd erp_chvs && python manage.py migrate --noinput && python manage.py collectstatic --noinput && gunicorn erp_chvs.wsgi:application --bind 0.0.0.0:$PORT --workers 3 --timeout 120"
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10

[healthcheck]
path = "/"
timeout = 100
interval = 60

[env]
PYTHON_VERSION = "3.13.1"
