{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard de Costos{% endblock %}

{% block content %}
<div id="costos-dashboard-background">
    <div class="module-dashboard">
        <!-- Tarjeta para Matriz Nutricional -->
        <a href="#" class="card">
            <div class="card-icon">
                <i class="fas fa-calculator"></i>
            </div>
            <div class="card-content">
                <h3>Matriz Nutricional</h3>
                <p>Gestiona y analiza los costos asociados a la matriz nutricional del programa.</p>
            </div>
        </a>
    </div>
</div>
{% endblock %}
